body {
	font-family: monospace;
	height: 100vh;
	padding: 30px;
	border: 1px solid blue;
	background-color: rgbs(81, 202, 243);
}

h1 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 35px;
}

.container {
	display: flex;
	align-items: center;
}

.container {
	justify-content: space-evenly;
	padding: 30px 10px;
	height: 300px;
}

.input {
	width: 200px;
	padding: 25px 30px;
	background-color: rgb(53, 182, 226);
}

.input, #number-type-selecter {
	margin: 3px 0;
}

input {
	border: 2px solid gray;
	border-radius: 5px;
}

.input, .display {
	border: 2px solid blue;
	border-radius: 7px;
}

.display {
	width: 200px;
	padding: 25px 30px;
	background-color: rgb(53, 182, 226);
}

.display p {
	text-align: center;
	margin: 5px;
}